div{
    background-color: white;
    font-size:100px;
}

.box1{
    height:500px;
}

.box2{
    height:400px;
    background-image:url(../images/main_PC_1920x440_20201006040046969.jpg);
    background-attachment:fixed;
    background-position:center center;
}
/* 해상도상관없이 중앙에 위치한다 */

.box3{
    height:500px;
}