/* *{margin:0;padding:0}
li({list-style: none;} */

#nav>li>a{
    display:block;
    height:11px;
    background-image:url(../images/gnb_menu.png);
    /* text-indent: -999px; */
}

#nav>.menu1>a{
    width:49px;
    background-position: -69px -23px;
}

#nav>.menu2>a{
    width:53px;
    background-position: -69px -83px;
}

#nav>.menu3>a{
    width:53px;
    background-position: -69px -143px;
}

#nav>.menu4>a{
    width:59px;
    background-position: -69px -203px;
}

#nav>.menu5>a{
    width:111px;
    background-position: -69px -322px;
}